{% extends 'base.html' %}

{% block content %}
    <div class="row">
<!--realiza un recorrido de todos los objetos -->
        {% for obj in object_list %}
            <div class="col">
            <!--el uso de forloop para dar forma a las card, en este caso en una fila mostrara 3-->
            {{ forloop.counter }}
                <!--icluye el archivo para usar boostrap-->
                {% include 'products/snippets/card.html' with instance=obj %}
            {% if forloop.counter|divisibleby:3 %}
            </div></div><div class="row"><div class="col-12"><hr/></div>
            {% else %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}