{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}|Turismo Perú</title>
    <link rel="stylesheet" href="{% static 'css/cssfooter/estilos-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssinicio/estiloindex.css' %}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
    <header>
        <div class="contenedor">
            <nav class="menu" >
                <ul>
                    {% block header %}
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </header>
    <body>
      {% block img %}
          <div class="imagen">
              <img src="{% static 'images/inicio.jpg' %}" style="max-width:100%;width:auto;height:auto;">
          </div>
      {% endblock %}
    {% block content %}
    {% endblock %}
    </body>
    <footer>
        <div class="footer-container">
            <div class="footer-main">
                <div class="footer-columna">
                    <h3>Suscríbete</h3>
                    <input type="email" placeholder="Escriba su correo">
                    <input type="submit" placeholder="Suscribirse">
                </div>

                <div class="footer-columna">
                    <h3>Contáctanos</h3>
                    <span class="fa fa-phone"><p>(+51) 67437345</p></span>
                    <span class="fa fa-envelope"><p>info@turismoperu.com</p></span>
                </div>

                <div class="footer-columna">
                    <h3>Sobre Nosotros</h3>
                    <p>Nuestros más de 30 años de experiencias como agencia de viajes, y nuestra pasión por el turismo, nos convierten en una empresa sobresaliente que brinda los mejores programas de viajes tanto en el Perú como en el mundo.</p>
                </div>

            </div>
        </div>
        <div class="footer-copy-redes">
            <div class="main-copy-redes">
                <div class="footer-copy">
                    &copy; 2018, Todos los derechos reservados - | Turismo Perú |.
                </div>
                <div class="footer-redes">
                   <i class="fas fa-play"></i>
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-youtube"></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
