{% extends 'base.html' %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'iconos/css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" >
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>

{% block header %}
    <li><a href="{% url 'registrarEmpTurista' %}">Regístrate</a></li>
     <li><a href="#">Accede</a></li>
     <li><a  href="{% url 'index' %}">Inicio</a></li
{% endblock %}

{% block content %}
    <div class="info-container">
        <div class="info-main">
    <h3>Registrate a Turismo Perú </h3>
    <p>Turismo Perú, les da la bienvenida. Lo invitamos a conocer nuestro maravilloso y variado país, rico en cultura, tradiciones, gastronomía y gente. Turismo Perú lo asesorará y brindará la información más precisa sobre viajes, así como tarifas competitivas en paquetes y venta de boletos aéreos con la atención personalizada que se merece.</p>
    <a href="{% url 'registrarTurista' %}">Soy Turista</a>
    <a href="{% url 'registrarEmpresa' %}">Soy Empresa</a>
        </div>
    </div>
{% endblock %}