<!--mediande instance.campodetabla podemos llamar al contenido para asi crear una tarjeta para cada producto-->
<div class="card" style="width: 18rem;">
    {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}">
        <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
    </a>
    {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ instance.title }}</h4>
      <!--para abreviar la description a 12 palabras, y saltar lineas entre parrafos-->
    <p class="card-text">{{ instance.description | linebreaks | truncatewords:12 }}</p>
      <!--nos dirreciona mediante el metodo creado en models-->
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">Mirar</a>
      <!--<a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL Shorcut</a>-->
  </div>
</div>